*{
    padding: 0;
    margin: 0;

}
.navbar{
    height: 18vh;
    width: 100vw;
    background-color:dimgrey
}
.nav{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5vh;
}
.growMore{
    font-size: 40px;
    color:cyan;
}
.btn{
    height: 50px;
    width: 140px;
    border-radius: 20px;
    background-color:cyan;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.userDetails {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    padding: 5px 10px;
    grid-gap: 12px;
  }
  .user {
    height: 40vh;
    width: 29.5vw;
    background-color: rgb(184, 184, 178);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 25px; 
  }
#user1 img{
    height: 28vh;
    /* background-color:rgb(45, 109, 109); */
    /* border-radius: 50%; */
    padding: 10px;
    /* border-radius: 100px; */
}
.usergo{
    transition: transform 0.3s ease-in ;
    position: absolute;
}
h3{
    color:rgb(62, 63, 63);
}
h6{
    color:rgb(62, 63, 63);
}
.search{
    display: flex;
  justify-content: center;
  align-items: center;
}
